<div class="sousEmail">
		<h5 class="titre">Sujet des Emails</h5>
		<div class="content">
			<ul style="list-style-type:circle;">
				<% @emails.each do |email| %>
				<li><%= email.object %></li>
				<% end %>
			</ul>
		</div>
	</div>